<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>asfasdfasfdasfdasfaf</title>
</head>
<body>

<div align ="center">
    <h1>Employee Table</h1>

    <a th:href = "@{/showNewEmployeeForm}">Add employee</a>
    <br>
    <br>
    <br>

    <table border = 1>
        <tbody>
            <tr>
                <th>Employee Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </tbody>
        <tbody>
            <tr th:each = "employee: ${listEmployees}">
                <td th:text = "${employee.id}"></td>
                <td th:text = "${employee.name}"></td>
                <td th:text = "${employee.lastName}"></td>
                <td><a th:href = "@{/updateEmployeeForm/{id}(id = ${employee.id})}">Update</a></td>
                <td><a th:href = "@{/deleteEmployee/{id}(id = ${employee.id})}">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>